<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="molpay" class="molpay"></div>
  <ion-list>
    <ion-item>
      <ion-label>Amount</ion-label>
      <ion-input type="tel" text-right [(ngModel)]="amount"></ion-input>
    </ion-item>
    <button ion-button icon-start (click)="pay()">
      Pay
    </button>
  </ion-list>
</ion-content>